/* Empty. Add your own CSS if you like */


/* Common CSS */


/* End Common CSS */

.white {
    color: #fff !important;
}

.w100 {
    width: 100% !important;
}

.pt12 {
    padding-top: 12px !important;
}

.mt2 {
    margin-top: 2px;
    margin-bottom: 0px !important;
}

.mt10 {
    margin-top: 10px !important;
}

a.menu-item {
    color: #424242;
    text-transform: UPPERCASE;
    font-weight: bold;
}

a.menu-item i {
    font-size: 18px !important;
}

.header-logo {
    height: 20px;
    margin-top: 12px;
}

.menu-bottom {
    bottom: 45px !important;
}

.menu-option-bottom a {
    color: #ddd;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px 10px 0px;
}

.menu-option-bottom i {
    margin-right: 4px !important;
}

.menu-option-bottom {
    bottom: 16px;
    left: 18px;
    right: 16px;
    position: absolute;
}

span.badge.custom-badge {
    position: absolute;
    top: 5px;
    left: 15px;
    background: #EC1D23;
    padding: 0px 2px;
    color: #fff;
    border: none;
}

.radiuz-primary,
.radiuz-primary:hover {
    background-color: #EC1D23;
    color: #fff;
}

.nahar-btn,
.nahar-btn:hover {
    background-color: #85b440 !important;
    color: #fff !important;
}

.tab-radius {
    background-color: #EC1D23 !important;
}

.tab-radius a {
    opacity: 1 !important;
}

.txt-center {
    text-align: center !important;
}


/* Home CSS */

.anchor-type-btn {
    background: white;
    color: #EC1D23 !important;
}

.anchor-type-btn:hover {
    background: white;
    color: #EC1D23 !important;
}

.cover-item-wrapper {
    max-height: 250px;
    width: 100%;
    overflow: hidden !important;
}

.home-cover {
    width: 101% !important;
    margin-left: -1px !important;
}

.cover-item {
    background-image: url('../img/home-bg.jpg');
    height: 250px;
    width: 100%;
    background-size: cover;
}

.cover-input-wrapper {
    text-align: center !important;
    clear: both;
    width: 100%;
}


/*.cover-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}*/

.cover-overlay {
    background: linear-gradient(transparent, black);
    height: 100%;
}

input.cover-search-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    opacity: 0.9;
    position: relative;
    top: 77px;
    border-radius: 2px;
    clear: both !Important;
    display: inline !important;
}

.cover-input-wrapper {
    padding: 10px;
}

.cover-input-text {
    position: relative;
    color: #fff;
    margin-top: 110px;
    left: 15px !important;
}

.cover-heading-text {
    font-size: 20px;
    margin-bottom: 8px;
}

a.cover-feed-text {
    font-size: 12px;
    color: #A9A5A5;
    font-weight: bold;
    padding: 10px 21px 11px 0px;
    line-height: 20px;
    text-decoration: none !important;
}

.custom-cat-border {
    border-radius: 0px !important;
}

.border-right {
    border-right: 1px solid #B3B3B3 !important;
}

.listing-img {
    border-radius: 0px !important;
    width: 90px !important;
    height: 90px !important;
}

button.radiuz-button {
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    margin-top: 2px;
}

.list-listing {
    margin-bottom: 0px !important;
}

.list-listing .item {
    border-top: 0px !important;
    padding-bottom: 8px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}


/* End Home CSS */


/*
 Listing CSS */

.no-more-celeb {
    padding: 6px 0px 6px 0px;
    margin: 0px !important;
    background-color: #000000;
    color: white;
}

.wide-item {
    width: 1000px;
}

.list-awards li {
    line-height: 26px;
    margin-left: 10px;
    list-style: initial;
}

span.sub-menu-item {
    padding: 14px 15px;
    background-color: #000000;
    color: white;
    font-weight: normal;
}

span.active-item {
    padding: 14px 15px;
    background-color: #000000;
    color: white;
    border-bottom: 2px solid #fff;
    font-weight: bold;
}

.ion-sc::-webkit-scrollbar {
    display: none;
}

.ion-sc {
    width: 101%;
    height: 53px;
    background-color: #000000;
}

h3.listing-title {
    font-size: 20px;
    margin-top: 4px;
}

div.filter-btn-wrap {
    text-align: right;
    margin-top: -4px !important;
}

div.filter-btn-wrap button {
    color: #000000 !important;
}

a.celeb-name h2 {
    font-size: 18px;
}

a.celeb-name {
    text-decoration: none;
}

.celeb-img-a {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
}


/* End Listing CSS */


/*   Detail CSS */

.cover-item-detail {
    height: 280px;
    width: 100%;
    background-size: cover;
}

.cover-detail-wrapper.cover-item-wrapper {
    max-height: 330px;
}

.celeb-img-detail img {
    height: 130px;
    width: 130px;
    border: 3px solid #DCDCDC;
    border-radius: 2px;
}

.celeb-img-detail {
    text-align: center;
    padding-top: 15px;
}

.celeb-info-detail {
    text-align: center;
    padding-top: 5px;
}

.celeb-info-detail h2,
.celeb-info-detail p,
.celeb-info-detail a {
    color: #fff;
}

.txt-right {
    text-align: right;
}


/* End Listing CSS */


/*  Chant CSS */

.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}


/* fixes an ios bug bear */

button.ion-android-send {
    padding-top: 2px;
}


/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */

.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

img.profile-pic.left {
    left: 10px;
}

img.profile-pic.right {
    right: 10px;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 14px;
}

.message-detail {
    white-space: nowrap;
    font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

input,
textarea,
.item-input,
.item-input-wrapper {
    background-color: #f4f4f4 !important;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}


/* loading */

.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loader .ion-loading-c {
    font-size: 64px;
}

.chat-bg {
    background-image: url('../img/chat-bg.jpg');
    -webkit-background-size: 120% auto;
}


/* End Chant CSS */

.header-popover {
    left: auto !important;
}

.pm0 {
    padding: 0px;
    margin: 0px;
}

.full-height {
    height: 100vh !important;
    background: #444;
    color: #fff;
}

.noborder {
    border: 0px !important;
}


/*Login Bg*/

.reset-btn {
    /* Empty. Add your own CSS if you like */
    /* Common CSS */
    /* End Common CSS */
    .white {
        color: #fff!important;
    }
    .w100 {
        width: 100 % !important;
    }
    .pt12 {
        padding-top: 12 px!important;
    }
    .mt2 {
        margin-top: 2 px;
        margin-bottom: 0 px!important;
    }
    .mt10 {
        margin-top: 10 px!important;
    }
    a.menu-item {
        color: #424242;
        text-transform: UPPERCASE;
        font-weight: bold;
    }
    a.menu-item i {
        font-size: 18px !important;
    }
    .header-logo {
        height: 20px;
        margin-top: 12px;
    }
    .menu-bottom {
        bottom: 45px !important;
    }
    .menu-option-bottom a {
        color: # ddd;
        font-size: 12 px;
        text-decoration: none;
        font-weight: bold;
        padding: 10 px 10 px 10 px 0 px;
    }
    .menu-option-bottom i {
        margin-right: 4 px!important;
    }
    .menu-option-bottom {
        bottom: 16 px;
        left: 18 px;
        right: 16 px;
        position: absolute;
    }
    span.badge.custom-badge {
        position: absolute;
        top: 5 px;
        left: 15 px;
        background: #EC1D23;
        padding: 0 px 2 px;
        color: #fff;
        border: none;
    }
    .radiuz-primary,
    .radiuz-primary: hover {
        background-color: #EC1D23;
        color: #fff;
    }
    .radiuz-btn,
    .radiuz-btn: hover {
        background-color: #EC1D23!important;
        color: #fff!important;
    }
    .tab-radius {
        background-color: #EC1D23!important;
    }
    .tab-radius a {
        opacity: 1!important;
    }
    .txt-center {
        text-align: center!important;
    }
    /* Home CSS */
    .anchor-type-btn {
        background: white;
        color: #EC1D23!important;
    }
    .anchor-type-btn: hover {
        background: white;
        color: #EC1D23!important;
    }
    .cover-item-wrapper {
        max-height: 250 px;
        width: 100 %;
        overflow: hidden!important;
    }
    .home-cover {
        width: 101 % !important;
        margin-left: -1 px!important;
    }
    .cover-item {
        background-image: url('../img/home-bg.jpg');
        height: 250 px;
        width: 100 %;
        background-size: cover;
    }
    .cover-input-wrapper {
        text-align: center!important;
        clear: both;
        width: 100 %;
    }
    /*.cover-item:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(transparent, black);
    }*/
    .cover-overlay {
        background: linear-gradient(transparent, black);
        height: 100 %;
    }
    input.cover-search-input {
        width: 90 %;
        padding: 10 px;
        font-size: 16 px;
        opacity: 0.9;
        position: relative;
        top: 77 px;
        border-radius: 2 px;
        clear: both!Important;
        display: inline!important;
    }
    .cover-input-wrapper {
        padding: 10 px;
    }
    .cover-input-text {
        position: relative;
        color: #fff;
        margin-top: 110 px;
        left: 15 px!important;
    }
    .cover-heading-text {
        font-size: 20 px;
        margin-bottom: 8 px;
    }
    a.cover-feed-text {
        font-size: 12 px;
        color: #A9A5A5;
        font-weight: bold;
        padding: 10 px 21 px 11 px 0 px;
        line-height: 20 px;
        text-decoration: none!important;
    }
    .custom-cat-border {
        border-radius: 0 px!important;
    }
    .border-right {
        border-right: 1 px solid# B3B3B3!important;
    }
    .listing-img {
        border-radius: 0 px!important;
        width: 90 px!important;
        height: 90 px!important;
    }
    button.radiuz-button {
        border: none;
        padding: 3 px 15 px;
        border-radius: 3 px;
        margin-top: 2 px;
    }
    .list-listing {
        margin-bottom: 0 px!important;
    }
    .list-listing.item {
        border-top: 0 px!important;
        padding-bottom: 8 px!important;
    }
    .mb0 {
        margin-bottom: 0!important;
    }
    /* End Home CSS */
    /*
     Listing CSS */
    .no-more-celeb {
        padding: 6 px 0 px 6 px 0 px;
        margin: 0 px!important;
        background-color: #000000;
        color: white;
    }
    .wide-item {
        width: 1000px;
    }
    .list-awards li {
        line-height: 26px;
        margin-left: 10px;
        list-style: initial;
    }
    span.sub-menu-item {
        padding: 14px 15px;
        background-color: # 000000;
        color: white;
        font-weight: normal;
    }
    span.active-item {
        padding: 14 px 15 px;
        background-color: #000000;
        color: white;
        border-bottom: 2px solid # fff;
        font-weight: bold;
    }
    .ion-sc::-webkit-scrollbar {
        display: none;
    }
    .ion-sc {
        width: 101 %;
        height: 53 px;
        background-color: #000000;
    }
    h3.listing-title {
        font-size: 20px;
        margin-top: 4px;
    }
    div.filter-btn-wrap {
        text-align: right;
        margin-top: -4px !important;
    }
    div.filter-btn-wrap button {
        color: # 000000!important;
    }
    a.celeb-name h2 {
        font-size: 18 px;
    }
    a.celeb-name {
        text-decoration: none;
    }
    .celeb-img-a {
        position: absolute!important;
        top: 10 px!important;
        left: 10 px!important;
    }
    /* End Listing CSS */
    /*   Detail CSS */
    .cover-item-detail {
        height: 280 px;
        width: 100 %;
        background-size: cover;
    }
    .cover-detail-wrapper.cover-item-wrapper {
        max-height: 330 px;
    }
    .celeb-img-detail img {
        height: 130 px;
        width: 130 px;
        border: 3 px solid# DCDCDC;
        border-radius: 2 px;
    }
    .celeb-img-detail {
        text-align: center;
        padding-top: 20 px;
    }
    .celeb-info-detail {
        text-align: center;
        padding-top: 5 px;
    }
    .celeb-info-detail h2,
    .celeb-info-detail p,
    .celeb-info-detail a {
        color: #fff;
    }
    .txt-right {
        text-align: right;
    }
    /* End Listing CSS */
    /*  Chant CSS */
    .bar-footer {
        overflow: visible!important;
    }
    .bar-footer textarea {
        resize: none;
        height: 25 px;
    }
    /* fixes an ios bug bear */
    button.ion-android-send {
        padding-top: 2 px;
    }
    /* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
    .footer-btn-wrap {
        position: relative;
        height: 100 %;
        width: 50 px;
        top: 7 px;
    }
    .footer-btn {
        position: absolute!important;
        bottom: 0;
    }
    img.profile-pic {
        width: 40 px;
        height: 40 px;
        border-radius: 50 %;
        position: absolute;
        bottom: 10 px;
    }
    img.profile-pic.left {
        left: 10 px;
    }
    img.profile-pic.right {
        right: 10 px;
    }
    .ion-email {
        float: right;
        font-size: 32 px;
        vertical-align: middle;
    }
    .message {
        font-size: 14 px;
    }
    .message-detail {
        white-space: nowrap;
        font-size: 14 px;
    }
    .bar.item-input-inset.item-input-wrapper input {
        width: 100 % !important;
    }
    .message-wrapper {
        position: relative;
    }
    .message-wrapper: last-child {
        margin-bottom: 10 px;
    }
    .chat-bubble {
        border-radius: 5 px;
        display: inline-block;
        padding: 10 px 18 px;
        position: relative;
        margin: 10 px;
        max-width: 80 %;
    }
    .chat-bubble: before {
        content: "\00a0";
        display: block;
        height: 16 px;
        width: 9 px;
        position: absolute;
        bottom: -7.5 px;
    }
    .chat-bubble.left {
        background-color: #e6e5eb;
        float: left;
        margin-left: 55 px;
    }
    .chat-bubble.left: before {
        background-color: #e6e5eb;
        left: 10 px;
        -webkit-transform: rotate(70 deg) skew(5 deg);
    }
    .chat-bubble.right {
        background-color: #158ffe;
        color: # fff;
        float: right;
        margin-right: 55 px;
    }
    .chat-bubble.right: before {
        background-color: #158ffe;
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
    }
    .chat-bubble.right a.autolinker {
        color: # fff;
        font-weight: bold;
    }
    .user-messages-top-icon {
        font-size: 28 px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3 px;
        right: 5 px;
    }
    .msg-header-username {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3 px;
    }
    input,
    textarea,
    .item-input,
    .item-input-wrapper {
        background-color: #f4f4f4!important;
    }
    .bold {
        font-weight: bold;
    }
    .cf {
        clear: both!important;
    }
    a.autolinker {
        color: #3b88c3;
        text-decoration: none;
    }
    /* loading */
    .loader-center {
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .loader .ion-loading-c {
        font-size: 64px;
    }
    .chat-bg {
        background-image: url('../img/chat-bg.jpg');
        -webkit-background-size: 120% auto;
        ;
    }
    /* End Chant CSS */
    .header-popover {
        left: auto !important;
    }
    .pm0 {
        padding: 0px;
        margin: 0px;
    }
    .full-height {
        height: 100vh !important;
        background: # 444;
        color: #fff;
    }
    .noborder {
        border: 0 px!important;
    }
    /*Login Bg*/
    .reset-btn {
        padding: 0 px 20 px!important;
    }
    .linkedin-bgc,
    .linkedin-bgc: hover {
        background-color: #007AB6 !important;
    }
    .facebook-background,
    .facebook-background:hover {
        background-color: # 3 F5C9A!important;
    }
 
    .mb10 {
        margin-bottom: 10 px!important;
    }
    .mb2 {
        margin-bottom: 2 px!important;
    }
    .text-login {
        width: 93 %;
        font-size: 16px !important;
        opacity: 0.9;
        border-radius: 2px;
        display: inline !important;
        margin-top: 15px;
        height: 45px !important;
        padding-left:15 px !Important;
    }
    .text-login:focus {
        opacity: 1;
    }
    .btn-login {
        width: 93 % !important;
        height: 45 px;
        margin-top: 15 px!important;
    }
    .facebook-sign-in,
    .facebook-sign-in: hover {
        background-color: #3F5C9A;
        height: 45px;
        width: 93%;
    }
    .login-pad {
        padding: 0px 15px !important;
    }
    .radiuz-color {
        color: # EC1D23!important;
    }
    .wrapper-logo {
        margin-top: 5 vh;
        margin-bottom: 3 vh;
    }
    .logo-login {
        width: 140 px;
    }
    .or-text {
        padding: 25 px 0 px;
    }
    .register-fb {
        margin-top: 15 px;
        margin-bottom: 0 px;
    }
    .item-register,
    .transparent-label {
        background: transparent!important;
    }
    .border-tn {
        border-top: none!important
    }
    .border-bn {
        border-bottom: none!important
    }
    .pb0 {
        padding-bottom: 0!important;
    }
    .mt25 {
        margin-top: 25 px!important;
    }
    /*End Login Bg*/
    /*End about terms Bg*/
    .cover-input-about {
        position: relative;
        color: #fff;
        left: 15 px!important;
    }
    .about-cover-text {
        padding-top: 200 px;
    }
    .about-radius8 p {
        text-align: justify;
    }
    .bold {
        font-weight: bold;
    }
    .list.item.item-accordion {
        line-height: 38 px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09 s all linear;
    }
    .list.item.item-accordion.ng-hide {
        line-height: 0 px;
    }
    .list.item.item-accordion.ng-hide-add,
    .list.item.item-accordion.ng-hide-remove {
        display: block!important;
    }
    .terms-radius8 p {
        text-align: justify;
        line-height: 24 px;
    }
    .terms-radius8.item p {
        overflow: visible!important;
        text-overflow: inherit!important;
        white-space: normal!important;
    }
    .terms-radius8 li {
        list-style: initial;
        margin-left: 5 px;
        line-height: 20 px;
        margin-top: 10 px;
        white-space: normal;
    }
    /*about Bg*/
    /*profile Bg*/
    .line-h50 {
        line-height: 50 px!important;
    }
    .profile-head {
        padding-left: 15 px;
        padding-top: 0 px;
        padding-bottom: 0 px;
    }
    /*profile Bg*/
    .fz14 {
        font-size: 14 px;
    }
    .bg-f4 {
        background-color: #f4f4f4!important;
    }
    .linkedin-sign-in {
        background-color: #007AB6 !important;
    }
    .textarea-height {
        min-height: 80px;
    }
    .fz12 {
        font-size: 12px !important;
    }
    .mt50 {
        margin-top: 50px;
    }
    .news li.item {
        white-space: normal;
    }
    .stars {
        width: 70px !important;
        height: 14px !important;
        background-image: url('../img/stars.png');
        background-position: 0 -1133px;
        position: relative;
    }
    .rating {
        padding: 2px 0px 10px 0px;
    }
    .rating .stars i {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../img/stars.png');
        background-position: 0 -685px;
        width: 70px;
        height: 14px;
    }
    .rating-count {
        margin: -3px 0px 3px 7px;
        vertical-align: baseline !important;
        color: # DEDEDE;
    }
    .reviews.card {
        background-color: #F3F3F3!important;
    }
    .icon-fb {
        color: #3A5795;
    }
    .icon-gp {
        color: # d73d32!important;
    }
    .icon-twitter {
        color: #1DA1F2;
    }
    .reach .item-note {
        float: right;
        color: # 000;
        font-size: 14 px;
        font-weight: bold;
    }
    .justify {
        text-align: justify;
    }
    .read-more-btn {
        background-color: red;
        color: #fff;
        margin-top: 8 px;
        float: right;
    }
    .filter-input {
        width: 100 %;
        padding: 0 px 0 px 0 px 10 px!important;
    }
    .heading-sub {
        padding-left: 6 px;
    }
    .sub-cat-title {
        padding: 10 px;
        font-size: 19 px;
        background: gray;
        /* padding-left: 2px; */
        border: 0 px;
        color: #fff;
    }
    .filter-modal.scroll {
        background-color: #444444;
    }
    .white-bg {
        background-color: # fff;
    }
    .mt15 {
        margin-top: 15 px!important;
    }
    .footer-btn-wrap {
        position: relative!important;
        height: 100 % !important;
        width: 50 px!important;
        top: 0 px!important;
    }
    .footer-btn-wrap button {
        padding-left: 17 px!important;
    }
    .chat-input {
        height: 36 px;
        width: 100 %;
    }
    .btn-send {
        background-color: black!important;
        color: #fff!important;
    }
    padding: 0px 20px !important;
}

.linkedin-bgc,
.linkedin-bgc:hover {
    background-color: #007AB6 !important;
}

.facebook-background,
.facebook-background:hover {
    background-color: #3F5C9A !important;
}

.login-bg {
    background: url('../img/login-bg.jpg') no-repeat;
    background-size: 120% 100% !important;
    ;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.text-login {
    width: 93%;
    font-size: 16px !important;
    opacity: 0.9;
    border-radius: 2px;
    display: inline !important;
    margin-top: 15px;
    height: 45px !important;
    padding-left: 15px !Important;
}

.text-login:focus {
    opacity: 1;
}

.btn-login {
    width: 93% !important;
    height: 45px;
    margin-top: 15px !important;
}

.facebook-sign-in,
.facebook-sign-in:hover {
    background-color: #3F5C9A;
    height: 45px;
    width: 93%;
}

.login-pad {
    padding: 0px 15px !important;
}

.radiuz-color {
    color: #EC1D23 !important;
}

.wrapper-logo {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.logo-login {
    width: 140px;
}

.or-text {
    padding: 25px 0px;
}

.register-fb {
    margin-top: 15px;
    margin-bottom: 0px;
}

.item-register,
.transparent-label {
    background: transparent !important;
}

.border-tn {
    border-top: none !important
}

.border-bn {
    border-bottom: none !important
}

.pb0 {
    padding-bottom: 0 !important;
}

.mt25 {
    margin-top: 25px !important;
}


/*End Login Bg*/


/*End about terms Bg*/

.cover-input-about {
    position: relative;
    color: #fff;
    left: 15px !important;
}

.about-cover-text {
    padding-top: 200px;
}

.about-radius8 p {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.terms-radius8 p {
    text-align: justify;
    line-height: 24px;
}

.terms-radius8 .item p {
    overflow: visible !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.terms-radius8 li {
    list-style: initial;
    margin-left: 5px;
    line-height: 20px;
    margin-top: 10px;
    white-space: normal;
}


/*about Bg*/


/*profile Bg*/

.line-h50 {
    line-height: 50px !important;
}

.profile-head {
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}


/*profile Bg*/

.fz14 {
    font-size: 14px;
}

.bg-f4 {
    background-color: #f4f4f4 !important;
}

.linkedin-sign-in {
    background-color: #007AB6 !important;
}

.textarea-height {
    min-height: 80px;
}

.fz12 {
    font-size: 12px !important;
}

.mt50 {
    margin-top: 50px;
}

.news li.item {
    white-space: normal;
}

.stars {
    width: 70px !important;
    height: 14px !important;
    background-image: url('../img/stars.png');
    background-position: 0 -1133px;
    position: relative;
}

.rating {
    padding: 2px 0px 10px 0px;
}

.rating .stars i {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/stars.png');
    background-position: 0 -685px;
    width: 70px;
    height: 14px;
}

.rating-count {
    margin: -3px 0px 3px 7px;
    vertical-align: baseline !important;
    color: #DEDEDE;
}

.reviews .card {
    background-color: #F3F3F3 !important;
}

.icon-fb {
    color: #3A5795;
}

.icon-gp {
    color: #d73d32 !important;
}

.icon-twitter {
    color: #1DA1F2;
}

.reach .item-note {
    float: right;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.justify {
    text-align: justify;
}

.read-more-btn {
    background-color: red;
    color: #fff;
    margin-top: 8px;
    float: right;
}

.filter-input {
    width: 100%;
    padding: 0px 0px 0px 10px !important;
}

.heading-sub {
    padding-left: 6px;
}

.sub-cat-title {
    padding: 10px;
    font-size: 19px;
    background: gray;
    /* padding-left: 2px; */
    border: 0px;
    color: #fff;
}

.filter-modal .scroll {
    background-color: #444444;
}

.white-bg {
    background-color: #fff;
}

.mt15 {
    margin-top: 15px !important;
}

.footer-btn-wrap {
    position: relative !important;
    height: 100% !important;
    width: 50px !important;
    top: 0px !important;
}

.footer-btn-wrap button {
    padding-left: 17px !important;
}

.chat-input {
    height: 36px;
    width: 100%;
}

.btn-send {
    background-color: black !important;
    color: #fff !important;
}

.disabled-a,
.disabled-a>* {
    color: gray !important;
    pointer-events: none !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.error-border {
    border-bottom: 1px solid red !important;
}

.success-border {
    border-bottom: 1px solid green !important;
}

.validation-error {
    color: red;
    font-weight: bold;
    /* position: absolute; */
    margin-left: 6px;
    margin-top: -22px !important;
}

.button.button:disabled {
    background-color: #447300  !important;
    color: white;
}

.custom-hero {
    height: 110px !important;
}

.user-content {
    text-align: left !important;
    margin-left: 25px;
}

.user-avatar {
    display: inline-block;
    vertical-align: middle;
}

.user-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.m4 {
    margin: 4px !important;
}

.mt-4 {
    margin-top: -4px;
}

.ml3 {
    margin-left: 3px;
}

.feed-item {
    margin: auto 1px !important;
}

.spacer {
 border-bottom: 1px solid #969696;
    margin: 20px 0px;
}
.link-color {
    color: #505050;
}
.fz18 {
    font-size: 18px;
}
.brand-logo-wrapper {
    height: 216px;
}
.brand-text {
        font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #505050;
}
.select-form {
        width: 93%;
    height: 45px;
    background: #ecf0f3;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    padding: 11px !important;
}
.register.brand-logo-wrapper {
    height: 115px;
}
.register .logo-login {
    width: 60px;
}
button[disabled] {
    cursor: default;
    background: #dadada !important;
}
.side-avtar-warp .avatar{
    position: relative !important;
}
.has-sidemenu-head {
    margin-top: 106px;
}
.form-date-label { 
        padding: 12px;
    font-weight: bold;
}
.form-date-btn {
        right: 18px;
    position: absolute;
}
.fz12{
    font-size: 12px !important;
}